{{define "common_content"}}
	<script type="text/javascript">
		
		function validateContactForm(){
			var name = $("#contact_user_name").val();
			if(name == null || name == ""){
				customAlert("Error", "Please eneter your name.");
				return false;
			}

			var nameRegex = new RegExp("^[a-zA-Z ]+$", "g");
			var isValidName = nameRegex.test(name);
			if(!isValidName){
				customAlert("Error", "It appears you have entered an invalid name.<br/><br/>Note: only a-z &amp; space characters are allowed.");
				return false;
			}


			var email = $("#contact_user_email").val();
			if(email == null || email == ""){
				customAlert("Error", "You must provide your email address.")
				return false;
			}


			//TODO: validate email
			var validEmailRegex = new RegExp("^[0-9a-zA-Z\\.!#$%&'*+/=?^_`~\\{\\}\\|-]{1,64}@(([a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]\\.)*[a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]|\\[(IPv6:([0-9a-fA-F]{0,4}:){1,7}[0-9a-fA-F]{0,4}|(([0-9]|[0-9][0-9]|[01][0-9][0-9]|2[0-5][0-5])\\.){3}([0-9]|[0-9][0-9]|[01][0-9][0-9]|2[0-5][0-5]))\\])$", "g");
			var isValidEmail = validEmailRegex.test(email);
			if(!isValidEmail){
				customAlert("Error", "The email you entered appears to be invalid.");
				return false;
			}


			var comm = $("#contact_comment").val();
			if(comm == null || comm == "" || comm.replace(/( |\t|\n)/g, "").length == 0){
				//The comment field was empty
				customAlert("Error", "You must provide a reason in the comment section as to why you are contacting us.");
				return false;
			} else if (comm.replace(/(^((qwerty)+|(foo|bar)+|[0-9asdfjkl; ]+)$|lorem( ipsum)?)/gi, "").length == 0){
				//The comment field is just full of random text
				
				if(comm.search(/lorem( ipsum)?/gi) >= 0){
					customAlert("Error", "It looks like you have entered random text into the<br/>comment field.<br/><br/>Please provide a reason as to why you are contacting us.<br/><br/>Tip: Don't put <em>Lorem ipsum ...</em> in your comment.");
				}
				else{
					customAlert("Error", "It looks like you have entered random text into the<br/>comment field.<br/><br/>Please provide a reason as to why you are contacting us.");
				}
				return false;
			}
			
			if(!validateCaptcha()){
				return false;
			}
			
			
			return true;
		}
		
		
		
		
		$(document).ready(function(){
			//validate the form when the user hits the submit button
			$("#contact_form").submit(function(event){
				if(!validateContactForm()){
					event.preventDefault();
				}
			});
			
			{{if .error_msg}}
				customAlert("Error", {{.error_msg}});
			{{end}}
			
		});
	</script>

	<script type="text/javascript">
		// CAPTCHA front-end javascript

		var captchaReloading = true;
		function reloadCaptcha(){
			//prevent any action when the user clicks on the reload button multiple times
			if(captchaReloading){
				return;
			}
			captchaReloading = true;

			//spin the reload button
			$(".captcha_option_button i").addClass("fa-spin")

			//animate the hiding of the current CAPTCHA and showing of the loading spinner
			$("#captcha_loading_text").fadeIn(250);
			$("#captchaImg").fadeTo(250, 0, function(){
				//get a new CAPTCHA image & clear out the solution input field; append a unique parameter (seconds since epoch) to the image source to make
					//it unique, to force some browsers to trigger the onload function
				var d = new Date();
				document.getElementById("captchaImg").src = "{{.base_url}}rsrc/captcha/img/reload/{{.captcha_id}}.png?width=400&height=100&unique=" + d.getTime();
				document.getElementById("captcha_soln").value = ""
			});
		}

		function captchaLoaded() {
			//stop reload button spinning & animate showing of the new CAPTCHA & hiding of the loading spinner
			$(".captcha_option_button i").removeClass("fa-spin");
			$("#captcha_loading_text").fadeOut(250);
			$("#captchaImg").fadeTo(250, 1);

			//allow users to reload the CAPTCHA again
			captchaReloading = false;
		}

		function validateCaptcha(){
			var capSoln = document.getElementById("captcha_soln").value;
			var c_minLength = parseInt({{.captcha_soln_min_length}});
			var c_maxLength = parseInt({{.captcha_soln_max_length}});
			
			//make sure it's non-empty, & the length is within the expected range
			if(capSoln == ""){
				customAlert("Error", "You must enter a solution to the CAPTCHA");
				return false;
			} else if(capSoln.length < c_minLength){
				customAlert("Error", "Your solution to the CAPTCHA is too short");
				return false;
			} else if(capSoln.length > c_maxLength){
				customAlert("Error", "Your solution to the CAPTCHA is too long");
				return false;
			}
			
			//make sure the user only entered numbers
			if(capSoln.search("[^0-9]") != -1){
				customAlert("Error", "A CAPTCHA solution contains only numbers (0-9)");
				return false;
			}
			return true;
		}
		
	</script>


	<style>
		
		#contact_comment{
			width:392px;
			height:40pt;
			resize:none;
		}
	</style>
	<div class="content">
		<h2>{{.title_text}}</h2>
		Use this form to contact us.<br/>
		<br/>
		<div class="form_wrapper">
			<form id="contact_form" class="main_form" action="page/contact/submit/" method="POST">
				<input type="text" id="contact_user_name" name="contact_user_name" autocomplete="off" placeholder="Enter Your Name Here" value="{{.user_name}}"/>
				<input type="email" id="contact_user_email" name="contact_user_email" autocomplete="off" autocapitalize="off" placeholder="Enter Your Email Address Here" value="{{.user_email}}" />
				<textarea id="contact_comment" name="contact_comment" placeholder="Why are you contacting us? (max. 1000 characters)" maxlength="1000" autocomplete="off" autocapitalize="off">{{.user_comment}}</textarea>
				<div class="captcha_form">
					<div id="captcha_image_wrapper">
						<div id="captcha_loading_text" class="captcha_loading_text">
							<i class="fa fa-spinner fa-spin"></i>
						</div>
						<img id="captchaImg" src="{{.base_url}}rsrc/captcha/img/{{.captcha_id}}.png?width=400&height=100" style="width:400px; height:100px; opacity:0;" onload="captchaLoaded();" /><br/>
						<div id="captcha_options_wrapper">
							<div id="captcha_reload_wrapper">
								<a class="captcha_option_button" onclick="reloadCaptcha();"><i class="fa fa-repeat captcha_option_icon"></i></a>
							</div>
						</div>
					</div>
					<input id="captcha_soln" name="captcha_soln" class="captcha_solution" type="text" placeholder="Enter The Above Numbers Here" autocomplete="off" autocapitalize="off" />
					<input type="hidden" id="captcha_id" name="captcha_id" value="{{.captcha_id}}" />
				</div>
				<input type="submit" value="Submit" />
			</form>
		</div>
	</div>
	<noscript>
		<!-- Alert to tell users that this page requires javascript -->
		<div id="custom_alert_wrapper" style="display:block;">
			<div id="custom_alert_content">
				<h2><span id="custom_alert_title">Javascript Required</span></h2>
				<div id="custom_alert_text">Javascript is required for this page to function.<br/>Please enable javascript and reload the page.<br/><br/></div>
				<!--div id="custom_alert_close_button_wrapper">
					<input type="button" id="custom_alert_close_button" onclick="closeCustomAlert();" value="Close" />
				</div-->
			</div>
		</div>
	</noscript>
{{end}}
