{{define "common_content"}}
	<script type="text/javascript">
		function validate(){
			var urlField = document.getElementById("url");
			var url = urlField.value;
			
			if (url === "") {
				customAlert("Error", "You must enter a URL to shorten");
				return;
			}
			
			if(!(url.indexOf("http://") == 0 || url.indexOf("https://") == 0 || url.indexOf("mailto:") == 0)){
				urlField.value = "http://" + url;
			}
			
			
			var capSoln = document.getElementById("captcha_soln").value;
			var c_minLength = parseInt({{.captcha_soln_min_length}})
			var c_maxLength = parseInt({{.captcha_soln_max_length}})
			
			if(capSoln == ""){
				customAlert("Error", "You must enter a solution to the CAPTCHA");
				return;
			} else if(capSoln.length < c_minLength){
				customAlert("Error", "Your solution to the CAPTCHA is too short");
				return;
			} else if(capSoln.length > c_maxLength){
				customAlert("Error", "Your solution to the CAPTCHA is too long");
				return;
			}
			
			if(capSoln.search("[^0-9]") != -1){
				customAlert("Error", "A CAPTCHA solution contains only numbers (0-9)");
				return;
			}
			
			
			document.getElementById("shorten_form").submit();
			
			return;
		}
		
		var captchaAudioIsPlaying = false;
		function reloadCaptcha(){
			document.getElementById("captchaImg").src = "{{.base_url}}rsrc/captcha/img/reload/{{.captcha_id}}.png?width=400&height=100";
			document.getElementById("captcha_soln").value = ""
			
			if(captchaAudioIsPlaying){
				stopCaptchaAudio();
			}
			
		}
		
		{{/*
		// function playCaptchaAudio(){
			
		// 	$("#play_captcha_audio_icon").removeClass("fa-volume-up").addClass("fa-stop");
		// 	//$("#play_captcha_audio_button").click(function(){stopCaptchaAudio();});
		// 	$("#play_captcha_audio_button").attr("onclick", "stopCaptchaAudio();");
			
		// 	captchaAudioIsPlaying = true;
			
		// 	// var d = new Date();
			
		// 	$("#captcha_audio_player_wrapper").html("<audio autoplay src=\"{{.base_url}}rsrc/captcha/audio/{{.captcha_id}}.wav\" type=\"audio/wav\"></audio>");
			
		// }
		
		// function stopCaptchaAudio(){
		// 	$("#play_captcha_audio_icon").removeClass("fa-stop").addClass("fa-volume-up");
		// 	// $("#play_captcha_audio_button").click(function(){playCaptchaAudio();});
		// 	$("#play_captcha_audio_button").attr("onclick", "playCaptchaAudio();");
			
		// 	captchaAudioIsPlaying = false;
			
		// 	$("#captcha_audio_player_wrapper").html("");
		// }
		*/}}
		
		$(document).ready(function(){
			{{if .user_url}} {{/* If we were given a url parameter, show the CAPTCHA form once the page is ready */}}
				$(".captcha_form").slideDown(500);
			{{else}}
				$("#shorten_form #url").focus(function(){
					$(".captcha_form").slideDown(500);
				});
			{{end}}
		});
	</script>
	<div class="content">
		{{.app_name}} is a simple web application designed to allow you to reduce the size of a URL
		<div class="generate_form">
			<form id="shorten_form" action="/page/generate/" method="POST">
				<input id="url" name="url" type="text" class="text_field" placeholder="Enter A URL Here" value="{{.user_url}}" autocomplete="off" />
				<div class="captcha_form">
					<!-- Please prove you're human:<br/> -->
					
					<div id="captcha_image_wrapper">
						<img id="captchaImg" src="{{.base_url}}rsrc/captcha/img/{{.captcha_id}}.png?width=400&height=100" style="width:400px; height:100px;" /><br/>
					
						<div id="captcha_options_wrapper">
							<!--div id="captcha_audio_wrapper">
								<a id="play_captcha_audio_button" class="captcha_option_button" onclick="playCaptchaAudio();"><i id="play_captcha_audio_icon" class="fa fa-volume-up captcha_option_icon"></i></a>
							</div-->
							<div id="captcha_reload_wrapper">
								<a class="captcha_option_button" onclick="reloadCaptcha();"><i class="fa fa-repeat captcha_option_icon"></i></a>
							</div>
						</div>
					</div>
					
					
					<input id="captcha_soln" name="captcha_soln" class="captcha_solution" type="text" placeholder="Enter The Above Numbers Here" autocomplete="off" />
				</div>
				<input type="submit" style="width:0px; height:0px; overflow:hidden; padding:0px; margin:0px; border:none;" />
				<input type="button" value="{{.app_name}} It!" onclick="validate()" />
				<input type="hidden" id="captcha_id" name="captcha_id" value="{{.captcha_id}}" />
			</form>
		</div>
		{{/*
		<!--div style="width:0px; height:0px; overflow:hidden;">
			<div id="captcha_audio_player_wrapper"></div>
		</div-->
		*/}}
	</div>
{{end}}
