
::selection {
  background:#89D7D7;
  /*color:#fff;*/
}

::-moz-selection {
  background:#89D7D7;
  /*color:#fff;*/
}

body{
	text-align: center;
	font-family:'Didact Gothic', Arial, arial, sans-serif;
	background-color:white;
	color:#034A4A;
	font-size:14pt;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family:'Didact Gothic', Arial, arial, sans-serif;
}

#title_link{
	text-decoration: none;
	font-size:48pt;
	color:#034A4A;
}

footer{
	width:1000px;
	position:absolute;
	bottom:0px;
}

a[href]{
	color:#034A4A;
}

p{
	text-align: left;
}

input[type="button"],
input[type="submit"],
input[type="text"]{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-e-border-radius: 3px;
	border-radius: 3px;
	border:none;
	color:#0E8A8A;
	font-family:'Didact Gothic', Arial, arial, sans-serif;
	outline:none;
}


input[type="button"],
input[type="submit"]{
	background-color:white;
	font-size:16pt;
	cursor: pointer;
	background-color:#034A4A;
	color:white;
	padding:5px 15px;
}

input[type="text"]{
	background:white;
	padding:3px;
	background:transparent;
	border:1px #0E8A8A solid;
}

input[type="text"]::selection{
	background-color:#89D7D7;
}
input[type="text"]::-moz-selection{
	background-color:#89D7D7;
}

.wrapper{
	width:1000px;
	margin:auto;
}

.container{
	position:relative;
}


#custom_alert_wrapper{
	display:none;
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	width:100%;
	height:100%;
	z-index: 99;
	background-color:rgba(0,0,0,0.75);
}

#custom_alert_content{
	position:relative;
	padding: 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-e-border-radius: 3px;
	border-radius: 3px;
	top:25%;
	width:500px;
	/*height:250px;*/
	margin:auto;
	background-color:white;
}

#custom_alert_content h2{
	margin:10pt;
}

#custom_alert_close_button_wrapper{
	/*bottom:5px;*/
	width:500px;
	/*position:absolute;*/
	margin:12pt 0pt 5pt 0pt;
}

.generated_link{
	font-size:32pt;
}

#shorten_form #url{
	font-size:22pt;
	/*width:400px;*/
	width:392px;
}

#captcha_soln{
	font-size:14pt;
	/*width:100%;*/
	width:392px;
}

#captcha_image_wrapper{
	position:relative;
}

#captcha_options_wrapper{
	position:absolute;
	/*top:0px;*/
	bottom:0px;
	width:100%;
	
	text-align:right;
}

#captcha_reload_wrapper,
#captcha_audio_wrapper{
	float:right;
	margin:0px 0px 5px 5px;
}

.captcha_option_icon{
	display:block;
	font-size:12pt;
	background-color:rgba(3,74,74,0.5);
	color:white;
	moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-o-border-radius: 25px;
	-e-border-radius: 25px;
	border-radius: 25px;
	padding:6px;
}

.captcha_option_button{
	cursor:pointer;
}

.captcha_form{
	position:relative;
	display: none;
}



#shorten_form{
	width:400px;
	margin:auto;
}


#shorten_form #url{
	margin-bottom: 15px;
}

.home_link{
	font-size: 26pt;
}

.generate_form{
	padding:50px;
	text-align:center;
}

.captcha_form{
	margin:auto;
	margin-bottom: 15px;
}

#captchaImg{
	background:transparent;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-e-border-radius: 3px;
	border-radius: 3px;
	margin:5px 0px 0px 0px;
}
